
body{
  margin:0;
  padding:0;

}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*----------------------------------------------------Custom Css ------------------------------------------------------*/

.button{
  background:#0575E6;
  border-radius: 44px;
  color: white;
  border: none;
  cursor: pointer;
  width: 440px;
  height:50px;
}

.button .App{
  width: 54px;
  height: 24px;
}




@media (max-width: 768px) {
 .button{
  width:85%;
  margin:auto;
 }
}
@media (max-width: 600px) {
  .button{
   width:90%;
  }
 }

.button a{
 color: white;
 text-decoration: none;
}


.table{
  margin-top: 20px;
  margin-bottom: 300px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}


.main-container{
  /* margin-top: 50px; */
  width: 80%;
  background:white;
  margin-top:70px;
  position: relative;
  margin-left: 322px;
  height: 100%;
}

@media only screen and (max-width:1400px) {
  .main-container{
    width: 78%;
    margin-left: 295px;
  }
} 

@media only screen and (max-width:1300px) {
  .main-container{
    width: 75%;
    margin-left: 295px;
  }
} 

@media only screen and (max-width:1150px) {
  .main-container{
    width: 90%;
     margin-left:0;
  }
} 

/* @media only screen and (max-width:900px) {
  .main-container{
    
    width: 50%;

  }
} */



.span-box{
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  align-items: end;
  gap: 4rem;
  
}

.span-box p{
  color:rgba(22, 22, 22, 1);
font-family: Public Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
font-size:24px;
}

.span-box .error{
  width:80%;
  color:rgba(242, 62, 62, 1);
  font-size:23px;
  }

  @media only screen and (max-width:1550px) {
     .span-box{
           gap: 2rem;
     }

    .span-box .error{
      font-size:19px;
      }
  }


  @media only screen and (max-width:1366px) {
 
    .span-box{
      gap: 1rem;
    }

    .span-box p{
      margin:12px 0px;
      font-size: 20px;
     }

     .span-box>span{
      height: 100px;
     }
  }
  

@media only screen and (max-width:966px) {
  .span-box{
   gap:1.2rem;
  }

  .span-box p{
    font-size: 18px;
   }
}


/*------------------------------------------- Login Page-------------------------------------------------------------- */

.login{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
}

.logo-part{
  width: 50%;
 background:url("./Components/assests/logo2.jpg");
 background-position: center;
  background-size: cover;
}


.form-part{
      width: 50%;
      align-self: center;
      text-align: left;
      
}

.form-part .logo{
  display: none;
}

.form-part h1{
  font-family: Public Sans;
font-size: 35px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
color: #333333;
}

.form-part h3{
  font-family: Public Sans;
font-size: 20px;
font-weight:500;
line-height: 31px;
margin-bottom: 30px;
text-align: left;
color:rgba(51, 51, 51, 1);
;
}

.form-inside{
  width: 85%;
  padding-left: 50px;
}

.form-inside h1{
  font-family: Public Sans;
font-size: 38px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
color: rgba(2, 2, 2, 1);


}

.form-inside h3{
  font-family: Public Sans;
font-size: 27px;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color:rgba(51, 51, 51, 1)
}

.form{
  width:460px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}


span img{
  width: 26px;
  height: 26px;

}


.form   input[type="text"],
input[type="password"],
textarea {
  font-size: 15px;
  width: 90%;
  border: none;
  outline: none;
 }

 ::placeholder {
  color: #333333;
  opacity:0.4;
}


@media only screen and (max-width:750px) {


   .login{
    height: 100%;
    width: 100%;
    background: url("./Components/assests/bg.png");
   }

   .logo-part{
    display: none;
   }

   .form{
    width: 100%;
    margin: 0 auto;
   }

   .form-part{
    border-radius: 20px;
    width: 100%;
   
   }

   .form-part .logo{
    display: block;
    position:absolute;
    top: 5%;
    width: 200px;
    height: 100px;
    left: 0;
    right:19px;
    margin: auto;
   }

   .form-inside{
    border-radius: 50px;
    padding: 25px;
    width: 70%;
    margin:200px auto;
    background-color: white;
   }

   .form-inside h1{
  text-align:center;
  }
  
  .form-inside h3{
  text-align:center;
 
  }
}

@media only screen and (max-width:500px) {
  .form-part .logo{
    right:5px;

   }
}

/*------------------------------- -----------------------Layout--------------------------------------------------------- */
.container{
  background: rgba(237, 242, 247, 1);
  height: 100vh;
  overflow: hidden;
}

.container-box{
  display: flex;
  gap: 2%;
  background: rgba(237, 242, 247, 1);
}


@media only screen and (max-width:600px) {
  .container{
    overflow-y: scroll;
  }
  
}


/*---------------------------------------------------- Header --------------------------------------------------------*/
.header{
 
  display: flex;
  gap: 85px;
  align-items: center;
  position:fixed;
  width: 100%;
  z-index: 10;
  max-height: 85px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.17);
  background-color: white;
}

.logo{
  width: 125.844px;
  height: 43px;
  padding: 7px 0px 5px 87px;
  cursor:pointer;
}

.header-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 80%;
  padding:0 20px;
}

.header-main .hamburger{
      width: 49px;
      height: 49px;
      cursor:pointer;
}

.user-box{
  position: relative;
  top:3px;
}

.user-icon{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon-click{
  position: absolute;
  text-align: center;
  width: 100px;
  height: 100px;
  right: -3px;
  background-color: white;
  top: 57px;
  box-shadow: 5px 5px 10px rgb(202, 196, 196);
  border-radius: 15px;
}

.icon-click p{
  cursor: pointer;
}

.icon-click p a{
  text-decoration: none;
  color: black;
}

@media only screen and (max-width:1158px) {
  .header{
     gap:20px;
  }

  .logo{
    padding: 7px 0px 5px 58px;
  }
  
}

@media only screen and (max-width:720px) {
  .logo{
    width: 85px;
    height: 35px;
    padding: 11px 0px 11px 10px
  }

  .header-main .hamburger{
    width: 35px;
    height: 35px;
  }

  .user-icon{
   width: 30px;
   height: 30px;
  }

}
/*-------------------------------------------------------Sidebar --------------------------------------------------*/
.sidebar{
  position: fixed;
  top:0;
  background: rgba(0, 39, 255, 1);
  height: 100vh;
  width: 300px;
}

.sidebar button{
  position: absolute;
  right: 0;
}

.sidebar button svg{
  font-size: 25px;
} 

.nav-links{
  margin-top: 128px;
  margin-left:14px;
  list-style-type: none;
}

.nav-links li{
  margin: 34px 0;
  font-family: Public Sans;
font-size: 25px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
 color:rgba(255, 255, 255, 1);

}

.nav-links li a{
  color:rgba(255, 255, 255, 1);
  text-decoration: none;
  cursor: pointer;
}

.nav-links li span{
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}

.nav-links li img{
  width: 25px;
  height: 25px;
}

@media only screen and (max-width:1536px) {
  .sidebar{
     width:280px;
  }

  .nav-links{
    margin-left:10px;
  }
}


@media only screen and (max-width:1158px) {
  .sidebar{
     width: 220px;
  }

  .nav-links{
    margin-left:0px;
  }

  .nav-links li{
  font-size: 20px;
  
  }
}

@media only screen and (max-width:720px) {
   .sidebar{
    z-index: 11;
   }
}

/* -----------------------------Messagelist Searchbox ------------------------------------------- */
.filter-part{
  display: flex;
}



.searchbox{
  background-color: white;
  width: 100%;
}

.searchbox h1{
  font-family: Public Sans;
 font-size: 25px;
 margin-left: 20px;
 color: rgba(0, 0, 0, 1);
 margin-bottom: 10px;

}

input[type="date"]{
  padding: 21px;
  width:327px;
  font-family:Public Sans;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1.13px solid  rgba(159, 159, 159, 1);
  color:rgba(17, 17, 19, 0.6);

}



input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('./Components/assests/calender.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  cursor: pointer;
}

#select{
  padding:20px;
  width: 350px;
  cursor: pointer;
  font-size:18px;
  font-family: Public Sans;
  font-weight: 400;
  border: 1.13px solid  rgba(159, 159, 159, 1);
  border-radius: 5px;
  color:rgba(17, 17, 19, 0.6);
}

.btns{
  margin: 30px auto;
  display: flex;
  gap: 31px;
  width: 50%;
  justify-content: center;
}

.filter-btn{
  padding: 11px;
  width: 371px;
  height: 65px;
  background-color: #0575E6;
  border:1px solid grey;
  border-radius:35px;
  color: white;
  font-size:35px;
}

.filter-btn:hover{
  cursor: pointer;
  background-color: white;
  color: #0575E6;
}

/* date-field */

.date-field{
  justify-content: space-between;
  gap: 39px;
  flex-wrap: wrap;
  /* width: 440px; */
  display: flex;
  }

  .legends{
    display: flex;
    flex-direction:column;
    gap: 40px;
    padding: 16px;
  }

  .color-legend{
    border-radius: 10px;
    width: 200px;
    max-height: 90px;
    box-shadow: 5px 5px 5px grey;
   }

   .color-legend >p{
    margin: 2px;
    display: flex;
    justify-content: space-between;
   }

   .color-legend >p>span~span{
    display: inline-block;
    width: 20px;
    height: 20px;
   }

   .color-legend >p:first-child>span~span{
    border-radius: 10px;
    background: blue;
   }

   .color-legend >p:nth-child(2)>span~span{
    border-radius: 10px;
    background: green;
   }
   .color-legend >p:nth-child(3)>span~span{
    border-radius: 10px;
    background: purple;
   }
   .color-legend >p:nth-child(4)>span~span{
    border-radius: 10px;
    background: red;
   }

  .icon-legend{
    border-radius: 10px;
    width: 200px;
    max-height: 90px;
    box-shadow: 5px 5px 5px grey;
  }

  .icon-legend >p{
    margin: 2px;
    display: flex;
    justify-content: space-between;
   }

   .icon-legend >p>span~span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: rgba(116, 136, 249, 1);
   }

   .icon-legend >p>span~span>img{
    width: 29px;
    height: 26px;
   }


@media only screen and (max-width:1571px) {
  
  input[type="date"]{
    padding:19px;
    width:75%;
    height: 1px;
    font-size: 16px;
  }

  #select{
    padding: 8px;
    width: 190px;
  }

  .filter-btn{
    padding: 8px;
    width: 180px;
    height: 39px;
    font-size: 21px;
  }

  .date-field{
    width: 440px;
  }
 

  .date-field>span{
     width: 200px;
  }
} 

@media only screen and (max-width:1366px) {

 #select{
  font-size: 14px;
  width: 160px;
 }

 .date-input{
  width: 160px;
 }

 .date-input >input[type="date"]{
  width: 79%;
 }

 .date-field{
  gap: 18px;
  width: 420px;
 }

 .date-field>span{
  height: 100px;
 }

  input[type="date"]{
    padding: 17px;
    width: 63%;
    font-size: 14px;
  }
} 

@media only screen and (max-width:600px) {

 .legends{
   bottom:0;
   position: absolute;
   right: 0;
 }
} 

@media only screen and (max-width:470px) {

  .filter-btn{
    margin-top:20px;
  }
} 

/* --------------------------------------------------Message-box ---------------------------------------------------- */

.message-container{
  /* margin-top: 50px; */
  width: 80%;
  background:white;
  margin-top:70px;
  margin-left: 322px;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media only screen and (max-width:1550px) {
  .message-container{
    margin-left: 300px;
  }
} 

@media only screen and (max-width:1300px) {
  .message-container{
    width: 75%;
  }
} 

@media only screen and (max-width:1150px) {
  .message-container{
    width:90%;
   margin:auto; 
  }
}





.message-container > p{
font-family: Public Sans;
font-weight: 500;
font-size:25px;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color:rgba(0, 0, 0, 1);

}

.message-box1{
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  padding:0 10px;
  align-items: end;
  gap: 2rem;
}

.message-box1 span>p{
  color: rgba(22, 22, 22, 1);
  font-family: Public Sans;
  font-style: normal;
  font-size:24px;
  font-weight: 400;
  line-height: normal;
}


.message-box1 .message-status{
  width: 387px;
  height:38px;
font-size:20px;
border-radius: 5px;
border: 1.125px solid #9F9F9F;
font-family: Public Sans;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color:rgba(17, 17, 19, 0.8);
display: inline-flex;
padding: 13px 0px 13px 18px;
align-items:center;
gap: 86px;

}


.message-box1 .message-status p{
  color: rgba(17, 17, 19, 0.80);
  font-family: Public Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height:28px;
}

.message-box p{
  margin: 25px 0px 0px 20px;
  font-family: Public Sans;
font-weight: 400;
line-height: 28px;
font-size: 24px;
letter-spacing: 0em;
text-align: left;
color:rgba(22, 22, 22, 1);

}

.message-box .message{
  border:2px solid grey;
  width: 80%;
  border: 1.13px solid rgba(159, 159, 159, 1);
  border-radius: 5px;
  padding:20px;
  color:rgba(100, 100, 100, 1);
  font-family: Public Sans;
font-size: 23px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
word-wrap:break-word;

}

.message-card{
  border:1px solid black;
  margin:21px;
  width:82%;
  cursor:pointer;
}

.message-card>h1{
  margin: 0;
  background: linear-gradient(to right,#9b9bd5,#d6d6de);
  font-family: Public Sans;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  padding: 10px;
  
}


.message-card>h1>span{
  margin-left:83%;
}

.up{
  display: none;
}


.inside-message{
  display: none;
}

.boldetails{
  display: flex;
}

.boldetails >div{
  border: 1px solid grey;
  width: 50%;
}

.cargo-card{
  border:1px solid black;
  margin:21px;
  width:82%;
  cursor:pointer;
}

.cargo-card>h1{
  margin: 0;
  background: linear-gradient(to right,#9b9bd5,#d6d6de);
  font-family: Public Sans;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  padding: 10px;
  
}


.cargo>h1>span{
  margin-left:83%;
}

.inside-cargo{
  display: none;
}

.inside-cntrs{
  display: none;
}

.button-box{
  margin-left: 10px;
  margin-bottom: 100px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  padding:10px;
  align-items: end;
  gap: 1.8rem;
}

.button-box button{
  width: 250px;
background:#0575E6;
 padding: 14px;
 border-radius:5px;
 color: white;
 border: none;
 cursor: pointer;
 background-color: #0575E6;


}

.button-box button a{
  text-decoration: none;
  color: white;
}


@media only screen and (max-width:1550px){

  .message-box1 .message-status{
  width: 240px;
  height: 39px;
  padding: 0 10px 0px 11px;
  border-radius: 5px;
  align-items: center;
  }
  .message-box1 .message-status p{
  border-radius: 5px;
  font-family: Public Sans;
  font-weight: 500;
  font-size:18px;
  letter-spacing: 0em;
  text-align: left;
  color:rgba(17, 17, 19, 0.8);
 
  }

  .message-box .message{
  font-size: 19px;
  }


 
  
}

@media only screen and (max-width:736px){

  .message-box1{
    gap:1rem;
  }
  
  .button-box{
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    align-items: end;
    gap: 0.8rem;
  }

  .boldetails{
    flex-direction: column;
  }

  .boldetails >div{
    width: 100%;
  }
  
}

@media only screen and (max-width:499px){

  .message-box1{
    gap:0rem;
  }
  
}

.table-box{
  background-color:white;
  margin-bottom: 100px;
  max-height: 500px;
  overflow-y: scroll;
   /* overflow-x: scroll; */
}



.table-inside td{
  font-size:23px;
}

.table-inside td:nth-child(5){
  height: 417px;
}

.table-inside td:nth-child(2){
  width: 150px;
}

.table-inside td:nth-child(3){
  cursor: pointer;
}





@media only screen and (max-width:1536px) {
  .table-inside td{
    font-size:18px;
 }

 .table-inside td:nth-child(4)>p{
    display: block !important;
}
} 

@media only screen and (max-width:1440px) {
  .table-inside td{
    font-size:16px;
 }
} 

@media only screen and (max-width:1336px) {
  .table-inside td{
    font-size:14px;
 }
} 

@media only screen and (max-width:1280px) {
  .table-inside td{
    font-size:10px;
 }
} 

@media only screen and (max-width:920px) {

  .table-inside td{
    font-size:8px;
 }

  .table-inside td:nth-child(5){
    height: 716px;
   }

   .table{
    width: 100vw;
  }
} 

@media only screen and (max-width:585px) {



    .table-inside td > p{
      height: 31px;
      line-height:32px;
    }

 .table-inside td:nth-child(4)>p{
    padding:0 !important;
  
}
} 


@media only screen and (max-width:1500px){
  .table-box{
    overflow-x: scroll;
  }

}


/*--------------------------------- LOADING COMPONENT CSS ------------------------------------------------*/
.loading-top {
  border-radius: 50%;
  margin-left: 40%;
  margin-top: 150px;
  margin-bottom: 150px;
  width: 100px;
  height: 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  animation: rotateLoading 0.4s linear infinite;
}

@keyframes rotateLoading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.popup{
  /* display:none; */
  background: white;
  box-shadow: 10px 10px 10px grey;
  top: 35%;
  left: 50%;
  position: absolute;
  width: 95%;
  height: 40%;
  transform: translate(-50%,-50%);
  overflow-y: scroll;
  border: 2px solid black;
}

.popup>p:first-child{
  font-size: 26px;
  padding: 0 10px;
  background: #e9e8e8;
  position: absolute;
  right: 20px;
  cursor: pointer;

}

.popup>h1{
  text-align: center;
   text-decoration: underline;
}

.popup-message{
  padding: 20px;
  word-wrap: break-word;
  line-height: 22px;
}



